<div class="list-group">


  <div class="row justify-content-center">

      <div class="jumbotron" style="margin-top: 2em">
          <h1 class="display-3">Clubs & Societies</h1>
          <p class="lead">Below is list of Clubs and Societies that have been listed with our service.</p>
          <hr class="my-4">
        </div>


  </div>

<div class="container" style="margin-left: 6em">

  <!-- single elem start -->
    <div class="row">

      <app-club></app-club>

  </div>

  <!-- single elem end -->
  <div class="row">

    <app-club></app-club>

  </div>

  <div class="row">

      <app-club></app-club>
  </div>

  <div class="row">

    <app-club></app-club>

  </div>

  <div class="row">

    <app-club></app-club>

  </div>

  <div class="row">

    <app-club></app-club>

  </div>

  <div class="row">

    <app-club></app-club>

  </div>




</div>
